<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="static/css/styleemo.css" rel="stylesheet">
    <title>Relax</title>
  </head>
  <body>
    <h1 style="font-family:Courier; color:Black;">Here is your relax playlist</h1>

    <div>
      {% for key,value in relaxDict.items()%}
        <ul>
          <a href={{value}} target="_parent"><button class="button relax">{{key}}</button></a>
        </ul>
      {%endfor%}
    </div>
  </body>
</html>
